.header {
    padding: 30px 25px;

    &__logo {
        img {
            width: 120px;

            @include breakpoint-up(medium) {
                width: 180px;
            }

            @include breakpoint-up(large) {
                width: 200px;
            }
        }
    }
}